<h1>
    {{ currentHero.id ? 'Editar' : 'Crear' }} 
    Héroe 
    <small *ngIf="currentHero.id">{{ currentHero.superhero }}</small>
</h1>
<mat-divider></mat-divider>
<div class="grid mt-2">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form
                    [formGroup]="heroForm"
                    (ngSubmit)="onSubmit()"
                    class="grid">
                    <mat-form-field class="col-12">
                        <mat-label>Super Héroe</mat-label>
                        <input
                            formControlName="superhero"
                            matInput 
                            type="text"
                            required>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Alter Ego</mat-label>
                        <input
                            formControlName="alter_ego"
                            matInput 
                            type="text"
                            required>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input
                            formControlName="characters"
                            matInput 
                            type="text"
                            required>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Imágen alternativa</mat-label>
                        <input
                            formControlName="alt_img"
                            matInput 
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Primera aparición</mat-label>
                        <input
                            formControlName="first_appearance"
                            matInput 
                            type="text"
                            required>
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Creador</mat-label>
                        <mat-select 
                            formControlName="publisher"
                            required>
                            <mat-option 
                                *ngFor="let publisher of publishers"
                                [value]="publisher.id">
                                {{ publisher.description }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div class="flex justify-content-end">
                    <button 
                        *ngIf="currentHero.id"
                        mat-flat-button
                        color="warn">
                        <mat-icon>delete</mat-icon>
                        Borrar
                    </button>
                    <button 
                        mat-flat-button
                        color="primary"
                        class="ml-3"
                        (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 sm:col-6">
        <mat-card>
            <img 
                mat-card-image 
                [src]="currentHero | heroImage" 
                alt="Imágen del hérore">
        </mat-card>
    </div>
</div>