/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
    flex: 1 1 auto;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.d-block {
    display: block;
}
.sticky-menu {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.text-danger span {
    color: red;
}